*.dll
*.user
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
/HM.GM.BAL/bin/Debug/netcoreapp2.0/HM.GM.BAL.dll
/HM.GM.BAL/bin/Debug/netcoreapp2.0/HM.GM.BAL.dll
/HM.GM.BAL/bin/Debug/netcoreapp2.0/HM.GM.BAL.pdb
/HM.GM.DAL/obj/Debug/netcoreapp2.0/HM.GM.DAL.csproj.CoreCompileInputs.cache
/HM.GM.DAL/obj/Debug/netcoreapp2.0/HM.GM.DAL.csproj.FileListAbsolute.txt
/HM.GM.DAL/obj/Debug/netcoreapp2.0/HM.GM.DAL.dll
/HM.GM.DAL/obj/Debug/netcoreapp2.0/HM.GM.DAL.pdb
/HM.GM.DAL/obj/HM.GM.DAL.csproj.nuget.cache
/HM.GM.DAL/obj/HM.GM.DAL.csproj.nuget.g.props
/HM.GM.DAL/obj/project.assets.json
/HM.GM.DAL/obj/Debug/netcoreapp2.0/HM.GM.DAL.csproj.CoreCompileInputs.cache
/HM.GM.DAL/obj/Debug/netcoreapp2.0/HM.GM.DAL.csproj.FileListAbsolute.txt
/HM.GM.DAL/obj/Debug/netcoreapp2.0/HM.GM.DAL.dll
/HM.GM.DAL/obj/Debug/netcoreapp2.0/HM.GM.DAL.pdb
