
<div class="container-fluid">
  <!--<div class="row">
    <div class="gmtable">
      <ng2-smart-table [settings]="settings" [source]="gridData" *ngIf="complete;" (mode)="external" (create)="onCreateConfirm($event)"></ng2-smart-table>
      <div class="row">
        <div class="col-md-9">&nbsp;</div>
        <div class="col-md-1"><span class="text-center">{{TotalBilling | number : '1.2-2'}}</span></div>
        <div class="col-md-1"><span class="text-center">{{TotalOnSiteCost | number : '1.2-2'}}</span></div>
        <div class="col-md-1"><span class="text-center">{{TotalGMPercentage | number : '1.2-2'}}</span></div>
      </div>
    </div>
  </div>-->

  <div class="row">
    <div>
      <button type="button" class="btn btn-success pull-left" (click)="addFieldValue(i)">Add Row</button>
      <button type="button" class="btn btn-success pull-right" [disabled]="savedisabled" (click)="Save()"><i class ="glyphicon glyphicon-hourglass"></i>Calculate GM</button>
      <button type="button" class="btn btn-danger pull-right" [disabled]="!enableExport" (click)="clearall()"><i class ="glyphicon glyphicon-refresh"></i> Reset</button>
      <button type="button" class="btn btn-info pull-right" [disabled]="!enableExport" (click)="tableToExcel('gridTable', 'defaultTable', 'GM Table')"><i class ="glyphicon glyphicon-refresh"></i> Export To Excel</button>
    </div>
    <br />
    <br />
    <table class="table table-responsive">
      <thead>
        <tr>
          <th></th>
          <th>Location<span class="text-danger">*</span></th>
          <th>Practice<span class="text-danger">*</span></th>
          <th>Skill<span class="text-danger">*</span></th>
          <th>Competency<span class="text-danger">*</span></th>
          <th>% Loading<span class="text-danger">*</span></th>
          <th>Rate Card/Hr<span class="text-danger">*</span></th>
          <th>Weeks(Actual Loading)<span class="text-danger">*</span></th>
          <!--<th>OnsitePerdim</th>-->
          <th>Month Loading + Contengency</th>
          <th>Total Billing</th>
          <th>Onsite Cost</th>
          <th>Total GM%</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let field of gridData; let i = index">
          <td>
            <button type ="button"  class="btn btn-danger" (click)="deleteFieldValue(i)"><span class ="glyphicon glyphicon-trash"></span></button>
          </td>
          <td><input (keyup)="validate()" [(ngModel)]="field.Location" class="form-control" type="text" auto-complete [source]="location" name="{{field.Location}}" /></td>
          <td><input (keyup)="validate()" [(ngModel)]="field.Practice" class="form-control" type="text" auto-complete [source]="orgmetadata.Practices" name="{{field.Practice}}" /></td>
          <td><input (keyup)="validate()" [(ngModel)]="field.Skill" class="form-control" type="text" auto-complete [source]="orgmetadata.Skills" name="{{field.Skill}}" /> </td>
          <td><input (keyup)="validate()" [(ngModel)]="field.Competency" class="form-control" type="text" auto-complete [source]="orgmetadata.Competencies" name="{{field.Competency}}" /> </td>
          <td><input (keyup)="validate()" (click)="validate()" [(ngModel)]="field.PercentageLoading" class="form-control" max="100" min="0" type="number" name="{{field.PercentageLoading}}" /> </td>
          <td><input (keyup)="validate()" (click)="validate()" [(ngModel)]="field.RatePerHour" class="form-control" type="number" min="0" name="{{field.RatePerHour}}" /> </td>
          <td><input (keyup)="validate()" (click)="validate()" [(ngModel)]="field.WeeksActualLoading" class="form-control" min="0" type="number" name="{{field.WeeksActualLoading}}" /> </td>
          <td><input [(ngModel)]="field.MonthLoadingWithContengency" class="form-control" min="0" type="number" name="{{field.MonthLoadingWithContengency}}" disabled="false" /> </td>
          <td><input [(ngModel)]="field.TotalBilling" class="form-control" type="number" min="0" name="{{field.TotalBilling}}" disabled="false" /> </td>
          <td><input [(ngModel)]="field.OnsiteCost" class="form-control" type="number" min="0" name="{{field.OnsiteCost}}" /> </td>
          <td><input [(ngModel)]="field.TotalGMInPercentage" class="form-control" min="0" type="number" name="{{field.TotalGMInPercentage}}" disabled="false" /> </td>
        </tr>
        <tr>
          <td colspan="9"></td>
          <td><span class="text-right font-size-12">{{TotalBilling | number : '1.2-2'}}</span></td>
          <td><span class="text-right font-size-12">{{TotalOnSiteCost | number : '1.2-2'}}</span></td>
          <td><span class="text-right font-size-12" [ngClass]="TotalGMPercentage < 60 ? 'label label-danger' : 'label label-success'">{{TotalGMPercentage | number : '1.2-2'}}</span></td>
        </tr>
      <tbody>
    </table>
  </div>
  <div class="animationload">
    <ng4-loading-spinner [threshold]="01" [template]="" [loadingText]="'Please wait...'" [zIndex]="9999"></ng4-loading-spinner>
    <div class="osahanloading"></div>
  </div>
  <div>
    <div class="row">
      <form #f="ngForm" (ngSubmit)="onDefaultSubmit()">
        <table class="table">
          <thead class="thead-inverse">
            <tr>
              <th class="text-center">Avergae Billing Rate</th>
              <th class="text-center">Value</th>
              <th class="text-center">Avergae Billing Rate</th>
              <th class="text-center">Value</th>
              <th class="text-center">Avergae Billing Rate</th>
              <th class="text-center">Value</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-left">Contengency</td>
              <td class="text-center">
                <input type="text" name="contengency" class="form-control" maxlength="3" required [(ngModel)]="gmdefaults.Contengency" pattern="[0-9]*" />
              </td>

              <td class="text-left">Number of hours per day</td>
              <td class="text-center">
                <input type="text" name="hoursPerDay" class="form-control" maxlength="3" required [(ngModel)]="gmdefaults.HoursPerDay" pattern="[0-9]*" />
              </td>
              <td class="text-left">Number of days in a week </td>
              <td class="text-center">
                <input type="text" name="daysPerWeek" class="form-control" maxlength="1" required [(ngModel)]="gmdefaults.DaysPerWeek" pattern="[0-9]*" />
              </td>
            </tr>
            <tr>
              <td class="text-left">Number of days per month</td>
              <td class="text-center">
                <input type="text" name="daysPerMonth" class="form-control" maxlength="2" required [(ngModel)]="gmdefaults.DaysPerMonth" pattern="[0-9]*" />
              </td>
              <td class="text-left">Number of weeks per month</td>
              <td class="text-center">
                <input type="text" name="weeksPerMonth" class="form-control" maxlength="3" required [(ngModel)]="gmdefaults.WeeksPerMonth" pattern="[0-9]*" />
              </td>
              <td class="text-left">$ Converstion to INR</td>
              <td class="text-center">
                <input type="text" name="dollarValueInINR" class="form-control" maxlength="9" required [(ngModel)]="gmdefaults.DollarValueInINR" pattern="[0-9]*" />
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>

  <div class="row" id="gridTable" [hidden]="true">
    <table class="table table-responsive" style="border:solid  .5pt #000">
      <thead>
        <tr style="background:#eee; border:solid  .5pt #000">
          <th>Location<span class="text-danger">*</span></th>
          <th>Practice<span class="text-danger">*</span></th>
          <th>Skill<span class="text-danger">*</span></th>
          <th>Competency<span class="text-danger">*</span></th>
          <th>% Loading<span class="text-danger">*</span></th>
          <th>Rate Card/Hr<span class="text-danger">*</span></th>
          <th>Weeks(Actual Loading)<span class="text-danger">*</span></th>
          <th>Month Loading + Contengency</th>
          <th>Total Billing</th>
          <th>Onsite Cost</th>
          <th>Total GM%</th>
        </tr>
      </thead>
      <tbody>
        <tr style="border:solid  .5pt #000" *ngFor="let field of gridData; let i = index">
          <td>{{field.Location}}</td>
          <td>{{field.Practice}}</td>
          <td>{{field.Skill}}</td>
          <td>{{field.Competency}}</td>
          <td>{{field.PercentageLoading}}</td>
          <td>{{field.RatePerHour}}</td>
          <td>{{field.WeeksActualLoading}}</td>
          <td>{{field.MonthLoadingWithContengency}}</td>
          <td>{{field.TotalBilling}}</td>
          <td>{{field.OnsiteCost}}</td>
          <td>{{field.TotalGMInPercentage}}</td>
        </tr>
        <tr><td colspan="11">&nbsp;</td></tr>
        <tr>
          <td colspan="8"></td>
          <td style="border:solid  .5pt #000; background:#000; color:white;"><span>{{TotalBilling | number : '1.2-2'}}</span></td>
          <td style="border:solid  .5pt #000; background:#000; color:white;"><span>{{TotalOnSiteCost | number : '1.2-2'}}</span></td>
          <td style="border:solid  .5pt #000; background:#000; color:white;"><span>{{TotalGMPercentage | number : '1.2-2'}}%</span></td>
        </tr>
      <tbody>
    </table>
    <div>&nbsp;</div>
    <table class="table" style="border:solid  .5pt #000">
      <thead>
        <tr style="background:#000; color:white;font-weight:bold;">
          <th colspan="2"><b>Avergae Billing Rate</b></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-left">Contengency</td>
          <td class="text-center">
            {{gmdefaults.Contengency}}
          </td>
        </tr>
        <tr>
          <td class="text-left">Number of hours per day</td>
          <td class="text-center">
            {{gmdefaults.HoursPerDay}}
          </td>
        </tr>
        <tr>
          <td class="text-left">Number of days in a week </td>
          <td class="text-center">
            {{gmdefaults.DaysPerWeek}}
          </td>
        </tr>
        <tr>
          <td class="text-left">Number of days per month</td>
          <td class="text-center">
            {{gmdefaults.DaysPerMonth}}
          </td>
        </tr>
        <tr>
          <td class="text-left">Number of weeks per month</td>
          <td class="text-center">
            {{gmdefaults.WeeksPerMonth}}
          </td>
        </tr>
        <tr>
          <td class="text-left">$ Converstion to INR</td>
          <td class="text-center">
            {{gmdefaults.DollarValueInINR}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
