<div class='navbar navbar-inverse'>
  <div class='navbar-header'>
    <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse' [attr.aria-expanded]='isExpanded' (click)='toggle()'>
      <span class='sr-only'>Toggle navigation</span>
      <span class='icon-bar'></span>
      <span class='icon-bar'></span>
      <span class='icon-bar'></span>
    </button>
    <a class='navbar-brand' [routerLink]='["/"]'>GM Calculator</a>
  </div>
  <div class='navbar-collapse collapse' [ngClass]='{ "in": isExpanded }'>
    <ul class='nav navbar-nav'>
      <li [routerLinkActive]="['link-active']">
        <a [routerLink]="['/gmcalculator']">
          <span class='glyphicon glyphicon-hourglass'></span>Calculate GM
        </a>
      </li>
      <li [routerLinkActive]="['link-active']">
        <!--*ngIf="isUploadEnable"-->
        <a [routerLink]="['/dataUploader']">
          <span class='glyphicon glyphicon-upload'></span>Upload Cost
        </a>
      </li>

    </ul>
    <div class="pull-right">
      <span style="color: white;line-height: 4;
    padding: 1em;" [ngClass]="[authBack]">Welcome {{authRslt}}</span>
    </div>
  </div>
</div>
