body {
}

.table {
  border: gray solid 1px;
  border-collapse: collapse;
}

.thead-inverse {
  background: gray;
  color: white;
}
.th-inverse {
  background: gray;
  color: white;
}
.sub-container {
  padding: 0 70% 0 0;
}

.gmtable {
  /*overflow-x: auto;*/
  border: solid 1px #dcdcdc;
}

.font-size-12 {
  font-size: 12px;
}



button,
input,
optgroup,
select,
search textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

table {
  line-height: 1.5em;
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  width: 100%;
  max-width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;
}

  table tr th {
    font-weight: bold;
  }

section {
  font-size: .75em;
  font-weight: bold;
}

td, th {
  font-size: .875em;
  margin: 0;
  padding: 0.5em 1em;
}



.completer-input {
  height: 35px;
}
.item-padding {
  padding-bottom: 5px;
  padding-right: 20px;
}
