<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title></title>
</head>
<body>
  <!-- main app container -->
  <div class="container-fluid custom-card">
    <div class="row">
      <alert></alert>
      <router-outlet></router-outlet>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-9 col-md-9" role="alert">
        <label class="text-danger">
          <i class="fas fa-exclamation-triangle"></i> Uploading excel will delete exsisting data !!!
        </label>
      </div>
      <div class="col-sm-3 col-md-3"></div>
    </div>
    <div class="row top-buffer">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <input type="file"  id="btnuploadfile" class="btn btn-info btn-block" #btnuploadfile (change)="incomingfile($event)" placeholder="Upload file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
      </div>
      <div class="col-xs-12 col-sm-2 col-md-2">
        <button type="button" id="btnUpload" [disabled]="uploadFile" class="btn btn-warning btn-block" (click)="importToLocal()">
          <i class="fa fa-upload"></i> Import
        </button>
      </div>
      <div class="col-xs-12 col-sm-2 col-md-2">
        <button type="button" class="btn btn-info btn-block" (click)="downloadSampleExcel('gridTable')">
          <i class="fa fa-download"></i> Export
        </button>
      </div>
      <div class="col-xs-12 col-sm-2 col-md-2">
        <button type="button" [disabled]="saveDisabled" class="btn btn-success btn-block" (click)="saveData()">
          <i class="fa fa-check-circle"></i> Save
        </button>
      </div>
      <div class="col-xs-12 col-sm-2 col-md-2">
        <button type="button" class="btn btn-danger btn-block" (click)="resetData()">
          <i class="fa fa-sync-alt fa-spin"></i> Reset
        </button>
      </div>
    </div>
    <br /><br />
    <div class="animationload">
      <ng4-loading-spinner [threshold]="01" [template]="" [loadingText]="'Please wait...'" [zIndex]="9999"></ng4-loading-spinner>
      <div class="osahanloading"></div>
    </div>
    <div class="row">
      <table class="table table-responsive table-border">
        <thead>
          <tr>
            <th></th>
            <th><input type="text" [(ngModel)]="queryStringPractice" placeholder="Search Practice..." class="form-control" /></th>
            <th><input type="text" [(ngModel)]="queryStringSkill" placeholder="Search Skill..." class="form-control" /></th>
            <th><input type="text" [(ngModel)]="queryStringCompetency" placeholder="Search Competency..." class="form-control" /></th>
            <th colspan="2">&nbsp;</th>
          </tr>
        </thead>
        <thead>
          <tr class="background-gray">
            <th>
              <button type="button" class="btn custom-button" (click)="addFieldValue()">
                <i class="fa fa-plus-circle fa-2x"></i>
              </button>
            </th>
            <th>Practice<span class="text text-danger">*</span></th>
            <th>Skill<span class="text text-danger">*</span></th>
            <th>Competency<span class="text text-danger">*</span></th>
            <th>Cost/Hr (Offshore)<span class="text text-danger">*</span></th>
            <th>Cost/Hr (Onsite)<span class="text text-danger">*</span></th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let field of gridData | gmFilter: queryStringPractice : 'Practice'  | gmFilter: queryStringSkill : 'Skill' | gmFilter: queryStringCompetency : 'Competency'; let in = index">
            <tr *ngIf="!field.IsDeleted">
              <td><button type="button"  class="btn custom-button" (ngModelChange)="updateColIndex(i)" (click)="deleteFieldValue(field,in)"><span class ="glyphicon glyphicon-trash"></span></button></td>
              <td width="30%"><input (keyup)="validate();populateFilters('P',field.Practice);" (click)="validate()" [disabled]="!field.IsNew" [(ngModel)]="field.Practice" class="form-control" (ngModelChange)="updateColIndex(field)" type="text" name="{{field.Practice}}" /></td>
              <td width="30%"><input (keyup)="validate();populateFilters('S',field.Skill);" (click)="validate()" [disabled]="!field.IsNew" [(ngModel)]="field.Skill" class="form-control" type="text" (ngModelChange)="updateColIndex(field)" name="{{field.Skill}}" /></td>
              <td width="15%"><input (keyup)="validate();populateFilters('C',field.Competency);" (click)="validate()" [disabled]="!field.IsNew" [(ngModel)]="field.Competency" class="form-control" type="text" (ngModelChange)="updateColIndex(field)" name="{{field.Competency}}" /> </td>
              <td><input appNumberType (keyup)="validate()" (click)="validate()" [(ngModel)]="field.OffshoreCost" class="form-control" type="number" (ngModelChange)="updateColIndex(field)" name="{{field.OffshoreCost}}" /> </td>
              <td><input appNumberType (keyup)="validate()" (click)="validate()" [(ngModel)]="field.OnsiteCost" class="form-control" type="number" (ngModelChange)="updateColIndex(field)" name="{{field.OnsiteCost}}" /> </td>
            </tr>
          </ng-container>
        <tbody>
      </table>
    </div>

    <div [hidden]="true">
      <table id="gridTable">
        <thead>
          <tr>
            <th>Practice</th>
            <th>Skill</th>
            <th>Competency</th>
            <th>OnsiteCost</th>
            <th>OffshoreCost</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let field of gridData; let i = index">
            <td>{{field.Practice}}</td>
            <td>{{field.Skill}}</td>
            <td>{{field.Competency}}</td>
            <td>{{field.OnsiteCost}}</td>
            <td>{{field.OffshoreCost}}</td>
          </tr>
        <tbody>
      </table>
    </div>
  </div>
</body>
</html>
