
<div class="container-fluid custom-card">
  <div class="row">
    <div class="col-xs-12 col-sm-5 col-md-4">
      <input type="file" style="display: inline-block;" id="btnuploadfile" #btnuploadfile (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx">
    </div>
    <div class="col-xs-12 col-sm-5 col-md-3">
      <button type="button" id="btnUpload" [disabled]="uploadfile" class="btn btn-success" (click)="Upload()"><span class ="glyphicon glyphicon-import"></span> Import</button>
    </div>
  </div>
  <div class="animationload">
    <ng4-loading-spinner [threshold]="01" [template]="" [loadingText]="'Please wait...'" [zIndex]="9999"></ng4-loading-spinner>
    <div class="osahanloading"></div>
  </div>
  <div class="row">
    <div class="col-xs-12" style="padding:2% 0 2% 0">
      <ng2-smart-table [settings]="settings" [source]="gridData" class="col-xs-12"></ng2-smart-table>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <button type="button" class="btn btn-success" (click)="uploadData()" [disabled]="!isDisabled"><span class ="glyphicon glyphicon-upload"></span> Upload</button>
    </div>
  </div>
</div>
<div class="col-sm-8 col-sm-offset-2">
  <alert></alert>
  <router-outlet></router-outlet>
</div>

