<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title></title>
</head>
<body>
  <!-- main app container -->

  <div class="container-fluid" style="padding:2%">
    <div class="row">
      <div class="col-xs-12 col-sm-5 col-md-4">
        <input type="file" style="display: inline-block;" id="btnuploadfile" #btnuploadfile (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx">
      </div>
      <div class="col-xs-12 col-sm-5 col-md-3">
        <button type="button" id="btnUpload" [disabled]="uploadfile" class="btn btn-success" (click)="Upload()"><span class ="glyphicon glyphicon-import"></span> Import</button>
      </div>

      <div class="col-xs-12 col-sm-5 col-md-2">
        <button type="button" class="btn btn-success" (click)="uploadData()" [disabled]="!isDisabled"><span class ="glyphicon glyphicon-upload"></span> Upload</button>
      </div>
    </div>
    <div class="animationload">
      <ng4-loading-spinner [threshold]="01" [template]="" [loadingText]="'Please wait...'" [zIndex]="9999"></ng4-loading-spinner>
      <div class="osahanloading"></div>
    </div>
    <div class="row">
      <!--<div class="col-xs-12" style="padding:2% 0 2% 0">
    <ng2-smart-table [settings]="settings" [source]="gridData" class="col-xs-12"></ng2-smart-table>
  </div>-->
   <button type ="button"  class="btn btn-success" (click)="addFieldValue(i)"><span class ="glyphicon glyphicon-plus-sign"></span></button>



      <table class="table table-responsive">
        <thead>
          <tr>
            <th><span> Search :  </span></th>
            <th><input type="text"  [(ngModel)]="queryStringPractice" class="form-control"/></th>
            <th><input type="text"  [(ngModel)]="queryStringSkill" class="form-control"/></th>
            <th><input type="text" [(ngModel)]="queryStringCompetency"  class="form-control"/></th>
            <th></th>
            <th><button type="button" class="btn btn-success" (click)="uploadData()" ><span class ="glyphicon glyphicon-save"></span> Save</button></th>
          </tr>
        
          <tr>
            <th></th>
            <th>Practice</th>
            <th>Skill</th>
            <th>Competency</th>
            <th>Rate Card/Hr (Offshore)</th>
            <th>Rate Card/Hr (Onsite)</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let field of gridData| gmFilter: queryStringPractice : 'Practice'  | gmFilter: queryStringSkill : 'Skill' | gmFilter: queryStringCompetency : 'Competency' let i = index">

            <td><button  type= "button"  class="btn btn-danger" (click)="deleteFieldValue(i)"><span class ="glyphicon glyphicon-trash"></span></button></td>
            <td><input [(ngModel)]="field.Practice" class="form-control" type="text" name="{{field.Practice}}" /></td>
            <td><input [(ngModel)]="field.Skill" class="form-control" type="text" name="{{field.Skill}}" /></td>
            <td><input [(ngModel)]="field.Competency" class="form-control" type="text" name="{{field.Competency}}" /> </td>
            <td><input [(ngModel)]="field.OffshoreRate" class="form-control" type="text" name="{{field.OffshoreRate}}" /> </td>
            <td><input [(ngModel)]="field.OnsiteRate" class="form-control" type="text" name="{{field.OnsiteRate}}" /> </td>
          </tr>
        
        <tbody>
      </table>
     
    <div class="row">
     
    </div>
  </div>
  <div class="col-sm-8 col-sm-offset-2">
    <alert></alert>
    <router-outlet></router-outlet>
  </div>
    </div>
</body>
</html>
