<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title></title>
</head>
<body>
  <div class="container-fluid" style="padding:2%">
    <div class="row">
      <div class="col-xs-12 col-sm-5 col-md-4">
        <input type="file" style="display: inline-block;" id="btnuploadfile" (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx">
      </div>
      <div class="col-xs-12 col-sm-5 col-md-3">
        <button type="button" class="btn btn-success" (click)="Upload()">Upload</button>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12" style="padding:2% 0 2% 0">
        <ng2-smart-table [settings]="settings" [source]="gridData" class="col-xs-12"></ng2-smart-table>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <button type="button" class="btn btn-success" (click)="Save()" [disabled]="!isdisabled">Save</button>
      </div>
    </div>
  </div>
</body>
</html>
